@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');





:root{
    --primary-color:rgb(34, 25, 88);
    --secondary-color:#047aed;
    --dark-color:#f4f4f4;
    --light-color:#011c36;
    --hover-color: whitesmoke;
}




/*UNIVERSAL TEMPLATE*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    font-family:'Lato', sans-serif;
    color: black;
    line-height:1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration:none;
    color: #333
}

h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0px;
}

p{
    margin: 10px 0;
}

img{
    width: 100%; 
}




/* NAVBAR */
.navbar{
    background-color: var(--primary-color);
    color: whitesmoke;
    height: 70px;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: whitesmoke;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: 2px var(--hover-color) solid;
}

.navbar .flex{
    justify-content: space-between;
}




/* SHOWCASE */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: whitesmoke;
    position: relative;
}

.showcase h1{
    font-size: 40px;   
}

.showcase p{
    margin: 20px 0px;
}

.showcase .grid{
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-form{
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form-control{
    margin: 30px 0px;
}
.showcase-form input:focus{
    outline: none;
}

.showcase-form input[type = 'text'],
.showcase-form input[type = 'email']{
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase::before, .showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color:whitesmoke;
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
}




/* STATS */
.stats{
    padding-top: 100px;
}

.stats .grid h3{
    font-size: 30px;
}

.stats .grid p{
    font-size:20px;
    font-weight:bold;
}


/* CLI Image */
.cli .grid{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.cli .grid > *:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}


/* Cloud */
.cloud .grid{
    grid-template-columns: 4fr 3fr;

}