.navbar{
    background-color: var(--primary-color);
    color: whitesmoke;
    height: 70px;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: whitesmoke;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: 2px var(--hover-color) solid;
}

.navbar .flex{
    justify-content: space-between;
}
